@import '../../../styles/consts.scss';

.counters__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 78%;
    margin: 0 0 2% 0;
}

.add__counter {
    border-radius: $bord_1;
    font-size: 60px;
    color: #444;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    &:hover {
        color: #000;
    }
    
}

.add__activated {
    position: fixed;
    right: 0;
    border-radius: $bord_2;
    font-size: 40px;
    color: #444;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}