$first-color: #ffffff;
$second-color: #6C7A7D;
$third-color: #55676A;
$fourth-color: #303F42;
$fifth-color: #000000;

$bord_1: 20px;
$bord_2: 10px;
$bord_3: 4px;

$padd_1: 20px;

$fz_1: 16px;
$fz_2: 24px;
$fz_3: 56px;

$font_1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font_2: 'Courier New', Courier, monospace;